/* Cores da paleta 
#003b3a
#0abfa9
#136d52
#73b298
#d7ffee
*/

body {
	background-color: #ffffe9; 
	font-family: 'Nunito', sans-serif;
}
			
.foootervip {
	/*position: relative;*/
    background-color: #73b298;
	background-size:cover;
	min-width:100px;
    width: 100%;
	bottom:0px;
}


.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 100%;
    margin: auto;
}